<% if count > 0 %>  <!-- an yparxoun notifications -->
  <div class="m-1 badge user-notification">
    <span id="notifications-list" class="user-notification-count">
      +<%= count %> <!-- emfanizw ton arithmo twn notifications -->
    </span>
  </div>
<% end %>