/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "components/flash";
  @import "config/animations";

  @import 'components/actiontext';
  @import 'components/iframe';
  @import 'components/direct_uploads';
  
  @font-face {
    font-family: 'Proxima Nova Font';
    src: url('Proxima Nova Font.otf');
  }

  .hoverWrapper #hoverContent {
    display: none;
    position: absolute;
    background-color: transparent;
    //color: #2b4162;
    color:#3b4957;
    font-weight: 500;
    //background: transparent;
    margin-left: -10em;
    margin-top: -6em;
    box-shadow: none;
    //padding: 10px;
    //border-radius: 4px
  }
  
  .hoverWrapper:hover #hoverContent {
    display: block;
  }
  .hover-body {
    background: #a3b0c1;
  }

  .username-color {
    color: #1690b4;
    text-decoration: none;
  }
  .username-color:hover {
    color: #66afc4;
  }

  .card {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.10);
  }

  .account {

    .profile {
      margin-top: -25px;
      padding-top: 0;
      //z-index: 9999;

      .account-stats {
        text-align: center;
        font-size: 35px;
        line-height: 1;
        margin-top: 25px;
        margin-bottom: -20px;
        font-weight: 900 !important;

        .stat {
          display: inline-block;
          min-width: 100px;
          margin-bottom: 20px;
        }

        .stat-label{
          font-size: 12px;
          text-transform: uppercase;
          color: #6c757d;
        }
      }
    }
  }

  .profile-avatar {
    margin-bottom: 1.25rem;
  }

  .join-date {
    color: #19a2a2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .profile-posts {
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }