// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #dedede;
  font-family: 'Proxima Nova Font';
  color: rgb(68, 68, 68);
}

.time {
  font-size: 9px !important
}
 
.socials i {
  -webkit-text-stroke: 1px;
}

.post-edit {
  background: #b1bece;
}

.post-new {
  background: #8b949d;
}

.post-new-btn {
  background: #7b8fac;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.post_count {
  //color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.reload-frame {
  color:#627a90;
}

html { line-height: 1.5 }
.hide { display: none; }
.line-clamp {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

//////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */


.search {
  &__input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    
    color: #575756;
    background-color: transparent;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
    &::placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    
    &:hover,
    &:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
    }
  }
}

.search-badge {
  background-color: #617b92;
}

.cancel-search {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #447ccd;
  text-decoration: underline;
}

.submit-post-form {
  background-color: #324352;
  color: #fff !important;;
}

.liked-btn {
  color: #da0101;
}

.like-btn {
  border-radius: 50rem;
  color: rgb(83, 100, 113);
}
.like-btn:hover {
  color: #da0101;
  background: rgba(244, 33, 46, 0.1);
}

.like-count {
  margin-left: 4px;
  //color: rgb(83, 100, 113);
}

.comments-btn {
  border-radius: 50rem;
  color: rgb(83, 100, 113);
}
.comments-btn:hover {
  color: rgb(0, 111, 214);
  background: rgba(0, 111, 214, 0.1);
}

.comment-count {
  margin-left: 4px;
}

.more-btn {
  color: rgb(0, 111, 214);
}

.mention {
  color: #0da9c8;
  text-decoration: none;

  &:hover {
    color: #66afc4;
  }
}

.header {
  font-weight: bold;
  letter-spacing: 1.5px;
}